#body b {
	background-color: #666;
	color: #F0F0F0;
	padding: 5px 181px 5px 181px;
	text-align: center;
}

#left {
	position: fixed;
	margin-top: 10px;
}

#right {
	position: fixed;
	width: 250px;
	margin: 10px 0 0 150px;
}

#right a:link, a:visited {
	color: #000;
	text-decoration: none;
}

#right a:hover, a:active {
	color: blue;
}

#right ul {
	list-style: none; 
	padding:0;
	margin:0;
}

#right ul li {
	list-style: none; 
	border-bottom: 1px solid #000;
}

#right ul li:hover {
	background-color: #ccc;
}

#right ol {
	text-indent: 50px;
}