html {
	color: #000;
	background-color: #FFF;
	padding: 20px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim";
}

#wrap {
	width: 400px;
	margin-left: 15px;
	background-color: #FFF;
}

#top {
	text-align: center;
}

#top a:link, a:visited {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

#top a:hover, a:active {
	color: red;
}

#left {
	float: left;
	min-height: 150px;
	margin: 10px;
}

#right_top {
	width: 250px;
	margin: 10px 0 0 150px;
}

#right_top a:link, a:visited {
	color: #000;
	text-decoration: none;
}

#right_top a:hover, a:active {
	color: blue;
}

#right_top ul {
	list-style: none; 
	padding:0;
	margin:0;
}

#right_top ul li {
	list-style: none; 
	border-bottom: 1px solid #000;
}

#right_top ul li:hover {
	background-color: #e5e5e5;
}

#right_top ul ol {
	text-indent: 50px;
}

span.gray {
	color: #888;
	margin: 0 5px 0 0;
}