#body b {
	background-color: #666;
	color: #F0F0F0;
	padding: 5px 428px 5px 428px;
	text-align: center;
}

table {
	margin-top: 10px;
	letter-spacing:-0.05em;
	border-top:3px solid #37315d;
	border-bottom:2px solid #ccc;
	border-spacing:0;
	border-collapse:collapse; 
	line-height:30px;
	font-size: 14px;
	background-color: #FFF;
}

tr:hover {
	background-color: #e5e5e5;
}

th, td {
	padding: 100px 0;

	border-top:1px solid #e2e2e2;
	border-left:1px solid #e2e2e2;
}

th {
	background-color: #ccc;
}

td:hover {
	background-color: #bbb;
}

td.center {
	text-align: center;
}