html {
	color: #000;
	background-color: #FFF;
	padding: 20px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim";
}

#wrap {
	position: fixed;
	top: 0px;
	width: 960px;
	height: 720px;
	margin: 0 auto;
	background-color: #F0F0F0;
	border: 1px solid #333;
}

#header {
	width: 960px;
	height: 135px;
	background-color: #a0a0a0;
	border-bottom: 1px solid #000;
	border-radius: 15px 15px 0 0;
}

#menu {
	position: fixed;
	top: 94px;
	width: 960px;
	height: 42px;
	font-family: 'Nanum Gothic';
	background-color: #555;
}

#menu a {
	display: block;
	padding: 10px 15px 15px 15px;
	background-color: #FFF;
	color: #000;
	font: 12px Verdana;
	font-weight: bold;
	text-decoration: none;
	float: left;
}

#menu a:hover, a:active {
	padding-bottom: 10px;
	border-bottom: 5px solid #a0a0a0;
	color: #777;
}

#body {
	position: fixed;
	top: 145px;
	margin-left: 10px;
}

span.gray {
	color: #666;
	margin: 0 5px 0 0;
}